body {
    display: flex;
    justify-content: center;
  }
  
  .Contador-contador-full {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .Contador-header {
    width: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .Contador-body {
    width: 450px;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .Contador-title {
    display: flex;
    margin-left: 20px;
    font-size: 24px;
  }
  
  .Contador-person {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .Contador-buttons {
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .Contador-person img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }
  
  .Contador-button-img {
    width: 30px;
    height: 30px;
  }
  
  .Contador-button {
    border: 1px solid #333;
    border-radius: 8px;
    background: #fff;
  }
  
  .Contador-contador {
    font-size: 20px;
    color: #555;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 8px 20px;
    margin-top: -10px;
  }