body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .calculadora {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .numero,
  .numero-2 {
    font-size: 1.4rem;
    background-color: #333;
    color: white;
    border: 1px solid grey;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .numero-2 {
    grid-column: span 2;
  }
  
  .operador,
  .operador-2 {
    background-color: #ff8c00;
    color: white;
    border: 1px solid grey;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .operador-2 {
    grid-column: span 2;
  }
  
  
  .numero:active,
  .numero-2:active,
  .operador:active,
  .operador-2:active {
    background-color: #fff;
    color: #333;
  }